<div class='board col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3'>
  <div class='board-content'>
    <%= link_to board do %>
      <h2><%= board.name %></h2>
    <% end %>
  </div>
  <%= link_to board, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'delete' do 
    fas_icon 'trash'
  end %>
</div>