/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'fontawesome-all';

.navbar-nav {
  > li {
    border: 1px solid white;
    border-radius: 3px;
    padding: .2rem .6rem;
    margin: 0rem .2rem;
    > a {
      color: white;
    }
  }
  span {
    margin-left: .5rem;
  }
}
.navbar-brand img {
  height: 38px;
}
#modal-new-board {
  .board {
    margin-bottom: 0;
  }
  .board-content {
    box-shadow: none;
    &:hover {
      box-shadow: none;
    }
  }
  .modal-dialog {
    max-width: 300px;
  }
  .modal-content {
    background: transparent;
    border: none;
  }
  .modal-body {
    padding-bottom: 0;
  }
  .modal-footer {
    border: none;
    padding-top: .5rem;
    justify-content: flex-start;
  }
}
.hide-mobile, .hide-xs {
 display: none; 
}
.alert {
  margin-top: .5rem;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1rem;
}
input {
  border-radius: 5px;
  padding: .1rem .5rem;
}

@media (min-width: 576px) {
  .hide-xs {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .hide-mobile {
    display: inline-block;
  }
}