.step {
  h2 {
    color: #172b4d;
    font-weight: bold;
  }
  .step-title {
    display: flex;
    justify-content: space-between;
    .delete {
      color: black;
      &:hover {
        color: red;
      }
    }
  }
  .step-content .sortable-group {
    min-height: 1rem;;
  }
}